@model IEnumerable<AHCBL.Dto.Admin.SendEmailDto>
@{
    ViewBag.Title = "Send Email";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detail)
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.detail)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3" class="text-center">
                No Data !!
            </td>
        </tr>
    }

</table>
